:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: blanchedalmond;
  height: 100%;
  margin: 0;
}

header,
footer {
  background-color: darkgoldenrod;
  padding: 16px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
}

.contentbox {
  background-color: rgb(223, 149, 52);
  height: fit-content;
  width: 100%;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
}